<h1>Projects</h1>

<ul>

  <% @projects.each do |project| %>
    <li>タイトル：<%= link_to project.title, project_path(project.id) %></li>
  <% end %>

  <div style="font-size:20px;">
    <%= react_component 'Widgets' %>
  </div>
</ul>